body {
  background-color: #FCF75E;
}

.container-fluid{
  width: 400px;
  height: 500px;
  overflow: auto;
  margin-top: 100px;
}

#column{
  height: 300px;
  font-size: 40px;
  font-family: fantasy;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: white;
  margin-top: 150px;
  padding-top: 20px;
}

#title{
  width: 310px;
  height: 300px;
}

.text1-center{
  font-family: fantasy;
  color: black;
  margin-right: 5px;
}

#link{
  font-style: italic;
  font-size: 13px;
  text-align: center;
}
