body { background-color: #FCF75E; }
#user-info, #message, #footer { background-color: white; }
#textarea { height: auto; }


/*Start style rules for Recognitions Sent Page and Recognitions Received Page */
nav{
  /*Value can change later*/
  padding: 20px;
}

a {
  color: black;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1 0 auto;
}

.flex-grow {
  flex: 1;
}

.userImage, .userName, .time {
  display: inline;
}

.userImage {
  width: 20px;
  height: 20px;
}

.userName {
  font-weight: bold;
}

.time {
  padding-left: 1%;
}

.archive-message {
  padding-left: 5%;
}

.info {
  padding-left: 5%;
}

.archive {
  padding: 20px;
  background-color: white;
}

.in-white-box {
  background-color: white;
  padding: 20px;
}

/* End of style rules for Recognitions Sent Page and Recognitions Received Page*/
